@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #101828 !important;
}

#homeCard {
    color: #f9fafb;
    transition: color 0.2s;
    box-shadow: 6px 6px 10px hsl(219, 44%, 6%), -6px -6px 10px #17233b;
}

#homeCard:hover {
    color: #f9fafb;
    background-color: #0c121f;
    transition: 0.6s;
}

#imgCard {
    padding: 1.5rem;
    box-shadow: inset 4px 4px 8px #090e17, inset -4px -4px 8px #17233b;
}
